
.a{
    background-color: darkgrey; height: 80px;
display: flex;position: fixed;width: 100%;
}

// @media (max-width: 500px){
//     .a {
//         float: none;
//         display: block;
//         // width: 95%; 
//         // background-color: #ff0000;
//     }
// }
