<div class="a">
  <div>
    <img class="logo" src="../../../assets/images/לוגו11.jpg">
  </div>
  <div class="navigator">
    <mat-icon (click)="showCart()">shopping_cart</mat-icon>
    <button mat-button routerLink="home" routerLinkActive="active">בית</button>
    <button mat-button routerLinkActive="active" (click)="ShowProducts()">המוצרים שלנו</button>
    <button mat-button routerLink="personalProduct" routerLinkActive="active">לעיצוב אישי</button>

    <button mat-button routerLink="blog" routerLinkActive="active">בלוגים</button>
    <button mat-button routerLink="club" routerLinkActive="active">מועדון</button>
    <button mat-button routerLink="about" routerLinkActive="active">אודותינו</button>
    <button mat-button routerLink="contact" routerLinkActive="active">צור קשר</button>
    <button mat-button routerLink="regulations" routerLinkActive="active">תקנון</button>

  </div>
</div>



<!-- 
///אמבורגר-תפריט צדדי//
<button class="mobile-menu-btn hamburger hamburger--spin" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button> -->