// .example-card {
//     max-width: 400px;
//    // padding: 2px;
//   }
  mat-grid-list{
    top : -5%;
  }
  mat-card{
    max-width: 300px;
    padding: 1px;
  }
  header{
    padding-left : 80px;
    font-size : x-large;
  }
  img{
    width: 400px;
    height: 300px;
   }
   p{
    display: inline;
   }
   @media (max-width :1300px){
    img{
      width : 280px;
      height : 200px;
      padding-left: 20px;
      padding-top: 20px;
    }
    .example-card {
      width: 600px;
      height: 330px;
    } 
    header{
      padding-left: 50px;
      font-size: x-large;
    }
    mat-grid-list{
      top : 6%;
    //  left : 10%;
      //right : 10px;
    }
   }
  
  