<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>product price</mat-card-subtitle>
    </mat-card-header>
      <mat-card-title-group>
        <div class="container">
          <div class="image">
            <img mat-card-xl-image src={{product.img}} >
           </div>
          <div class="text">
       
            <header> : העוגה מכילה  </header>
            {{product.details}}
           <header> : אלרגנים </header>
            {{product.allergens}}
            <br>
            </div>
        </div>
      </mat-card-title-group>
    <mat-card-actions>
      <button mat-flat-button class="Sbutton" >הוספה לסל</button>
    </mat-card-actions>
  </mat-card>