
  <div class="container">
    <div class="image">
      <img mat-card-xl-image src={{product.img}} >
     </div>
    <div class="text"> 
      <header class="paddingTop">{{product.name}}</header>
      <br>
      <p *ngFor="let s of product.sizePrices">
        {{s.price | currency : 'ILS'}} </p>    
      <header> : העוגה מכילה  </header>
      <br>
      {{product.details}}
      <br>
      <br>
     <header> : אלרגנים </header>
     <br>
      {{product.allergens}}
      <br>   
      <br>
      <p class="type">  העוגה {{product.type}}  </p>
      <!-- <p>הוסף כיתוב על העוגה</p>
      <input/> -->
      <br>
      <br>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button *ngFor="let s of product.sizePrices" [value]=s.id (click)="SaveCurrentSizeId(s)">{{s.size}} &nbsp;</mat-radio-button>
      </mat-radio-group>
       <br><br>
      <button mat-flat-button class="Sbutton" (click)="AddToCart()" >הוספה לסל</button> 
      </div>
    </div>