
.Sbutton{
  background-color: #c19a6d;
  font-size: 24px;
  color: white;
}
header{
  font-size: 20px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.type{
  font-size: 20px;
}
.paddingTop{
  padding-top: 20px;
  font-size: 30px;
  text-decoration: underline;
  color:  #c19a6d;
}
  .image {
    flex-basis: 70%;
    padding-right: 100px;
  }
  img{
    width: 600px;
    height: 400px;
    border: 1px solid #eee;
  }
  .text {
    width: 250px;
    height: 500px;
    font-size: 14px;
    padding-right: 85px;
    margin-top: 20px;
    background-color: #eee;
}
@media (max-width : 1500px){
  .image {
    flex-basis: 40%;
  }
  img{
    width: 400px;
    height: 300px;
    border: 1px solid #eee;
  }
  .text {
    width: 250px;
    height: 500px;
    font-size: 14px;
    padding-left: 100px;
    margin-top: 20px;
    background-color: #eee;
  }
}
// @media (max-width : 340){
//   img{
//     width: 300px;
//     height: 200px;
//     border: 1px solid #eee;
//   }
//   .text {
//     width: 500px;
//     height: 300px;
//     font-size: 14px;
//     padding-left: 100px;
//     margin-top: 20px;
//     background-color: #eee;
//   }
// }





