<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>  
      <p *ngFor="let s of sizeAndPrice">
        {{s.price | currency : 'ILS'}} &nbsp; | &nbsp;</p>
    </mat-card-header>
      <mat-card-title-group>
        <div class="container">
          <div class="image">
            <img mat-card-xl-image src={{product.img}} >
           </div>
          <div class="text">
       
            <header> : העוגה מכילה  </header>
            {{product.details}}
           <header> : אלרגנים </header>
            {{product.allergens}}
            <br>
            </div>
          </div>
      </mat-card-title-group>
      <p>הוסף כיתוב על העוגה</p>
      <input/>
      <br> <br>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button *ngFor="let s of sizeAndPrice" [value]=s.id (click)="SaveCurrentSizeId(s.id)">{{s.size}} &nbsp;</mat-radio-button>
      </mat-radio-group>
    <mat-card-actions>
      <button mat-flat-button class="Sbutton" (click)="AddToCart()" >הוספה לסל</button>
    </mat-card-actions>
  </mat-card>