<p>about works!</p>
<br><br>
<img src="../../../assets/images/תמונה אודותינו.jpg" style="width: 100%;"> <div class="size">
  הסיפור שלנו</div>
<div class="a">
 
  <div style="unicode-bidi: embed;direction: rtl;">
    <p >
    
      כשלוקחים חומרי גלם מעולים, מוספים להם אנשים מסורים ומוכשרים ומפזרים מעל שירות קשוב ששם את הלקוח תמיד בראש מתקבל
      המתכון לחוויה ושמה “perfect”.
       <br>
      perfect הוקמה בשנת 2003 על ידי הקונדוטורית מירב. בחודשי הפעילות הראשונים השניים שיווקו את הקינוחים של "perfect” 
      למסעדות ובתי קפה בתל אביב, וכשהפעילות הלכה והתרחבה. מלקוח מרוצה למשנהו, החברה צמחה והתרחבה, ועברה בשנת 2006 אל
      מתחמה הנוכחי. המקום אפשר ל perfect” " לפרוש כנפיים הן בהיקף הפעילות והן בהיצע המוצרים. perfect” " החלה להציע
      מאפים, עוגות שמרים, טארטים אקזוטיים במלאכת יד ואף נכנסה לתחומי פעילות נוספים, כמו אירועים פרטיים ועסקיים ופתיחת
      מספר חנויות תחת המותג perfect” " , המציעות את המוצרים האיכותיים באווירת בית קפה אינטימית וייחודית.
      perfect” " מפעילה מערך שירות ושינוע מתקדם לכל חלקי הארץ, מדן ועד אילת. היא מבין חברות הקייטרינג הבודדות שיכולות
      לספק מענה מקיף בהתראה של כמה שעות.
      מיום הקמתה ועד היום, perfect” " היא משפחה המונה מאות עובדים, החולקים את אותה חדוות יצירה ושותפות לחזון האיכות
      והשירות. כך, בתחום דינאמי והפכפך, גאה perfect” " בצוות עובדים ותיק ומחויב וביססה לאורך השנים  את מעמדה כקונדיטוריה
      ומאפייה מהאיכותיות והאמינות בישראל.

    </p>
  </div>


  <!-- פרוש כנפיים הן בהיקף הפעילות והן בהיצע המוצרים של "perfect”.  -->
</div>


