<p>about works!</p>

<div class="a">
    <img src="../../../assets/images/תמונה אודותינו.jpg" > div>
  <h1>הסיפור שלנו</h1>

 <p class="rtl">
    <br> .“perfect” כשלוקחים חומרי גלם מעולים, מוספים להם אנשים מסורים ומוכשרים ומפזרים מעל שירות קשוב ששם את הלקוח תמיד בראש מתקבל המתכון לחוויה ושמה <br><br>

    "perfect הוקמה בשנת 2003 על ידי הקונדוטורית מירב. בחודשי הפעילות הראשונים השניים שיווקו את הקינוחים של "perfect” <br>
    <br>"perfect" למסעדות ובתי קפה בתל אביב, וכשהפעילות הלכה והתרחבה. מלקוח מרוצה למשנהו, החברה צמחה והתרחבה, ועברה בשנת 2006 אל מתחמה הנוכחי. המקום אפשר ל 
    <br>"perfect"  לפרוש כנפיים הן בהיקף הפעילות והן בהיצע המוצרים.
    <br> החלה להציע מאפים, עוגות שמרים, טארטים אקזוטיים במלאכת יד ואף נכנסה לתחומי פעילות נוספים "perfect”
    <br>"perfect" -כמו אירועים פרטיים ועסקיים ופתיחת מספר חנויות תחת המותג  
    <br>  .המציעות את המוצרים האיכותיים באווירת בית קפה אינטימית וייחודית.
    <br>  .מפעילה מערך שירות ושינוע מתקדם לכל חלקי הארץ, מדן ועד אילת "perfect"
    <br> .היא מבין חברות הקייטרינג הבודדות שיכולות לספק מענה מקיף בהתראה של כמה שעות

    <br> "perfect" היא משפחה המונה מאות עובדים, החולקים את אותה חדוות יצירה ושותפות לחזון האיכות והשירות. כך, בתחום דינאמי והפכפך, גאה  "perfect" מיום הקמתה ועד היום
    <br> בצוות עובדים ותיק ומחויב וביססה לאורך השנים  את מעמדה כקונדיטוריה ומאפייה 
    <br> מהאיכותיות והאמינות בישראל.

</p>
