
body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(250, 66, 5);
    text-align: center;
  
  }
  
  p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
  }
  p.rtl {
    direction: rtl;
  }
 
 