
// body {
//     background-color: lightblue;
//   }
  
  .size {
    color: rgb(250, 66, 5);
    text-align: center;
  font-size:xx-large;
  }

  .a{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    // font-family:'Franklin Gothic Medium', 'Arial Narrow', inherit, sans-serif;
    // font-size: 15px;
    // text-align: center;
  }
  
  // p.rtl {
  //   direction: rtl;
  // }
