<br><br><br><br><br><br>
<h1 class="g"> רעבים לעוד?</h1>
<div>
  <br>
  <h2>חנות:039096387 </h2>
  <h2>להזמנות:0527180072</h2>
  
  <h2>מחלקת אירועים ומגשי אירוח:039096387</h2>
  <h2>פקס:0390906387</h2>
  <h2> mirav@perfect.co.il</h2>
  <h2>כתובתינו:אלעד</h2>
</div>

<div dir=rtl class="wrapper">
  <h5>דברו איתנו</h5>
  <h5>תוכלו להשאיר לנו הודעה ונשמח לחזור אליכם בהקדם</h5>
  <div style="display: flex;justify-content: space-around;">
    <div style="border: 5px;border-style: groove;width:30%;text-align: center;">
      <div appearance="fill" class="appearance">
        <mat-label>שם מלא</mat-label>
        <input type="text" formControlName="text" name="text">
      </div>
      <div appearance="fill" class="appearance">
        <mat-label>פלאפון </mat-label>
        <input type="text" formControlName="number" name="number">
      </div>
      <div appearance="fill" class="appearance">
        <mat-label>תמונה</mat-label>
        <input type="image" formControlName="image" name="image">
      </div>
      <div appearance="fill" class="appearance">
        <mat-label>תוכן ההודעה</mat-label>
        <textarea class="details-input" style="height: 150px;" matInput></textarea>
        <div class="example-button-row">
          <button mat-button>שלח</button>
        </div>
      </div>
    </div>
  </div>
</div>