<br>

<div class="g">
  <h1> רעבים לעוד?</h1>
  <h2>חנות:039096387 </h2>
  <h2>להזמנות:0527180072</h2>
  
  <h2>מחלקת אירועים ומגשי אירוח:039096387</h2>
  <h2>פקס:0390906387</h2>
  <h2> mirav@perfect.co.il</h2>
  <h2>כתובתינו:אלעד</h2>
</div>

  <div class="contact-form-container">
    <h2>Contact Us</h2>
  <h3>דברו איתנו</h3>
  <h3>תוכלו להשאיר לנו הודעה ונשמח לחזור אליכם בהקדם</h3>
    <form [formGroup]="clubForm" (ngSubmit)="onSubmit()">
       <div class="example-container"><mat-form-field appearance="fill">
        <mat-label>Enter full Name</mat-label>
        <input matInput placeholder="please enter full Name" type="text" formControlName="fulltName">
        <mat-error *ngIf="clubForm.get('fulltName')?.invalid && clubForm.get('fulltName')?.touched">
          {{getErrorMessage('fulltName')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter email</mat-label>
          <input matInput placeholder="please enter email" type="text" formControlName="email">
          <mat-error *ngIf="clubForm.get('email')?.invalid && clubForm.get('email')?.touched">
            {{getErrorMessage('email')}}
          </mat-error>
        </mat-form-field>
      </div>


      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter message</mat-label>
          <textarea matInput placeholder="please enter message" type="text" formControlName="message"></textarea>
          <mat-error *ngIf="clubForm.get('message')?.invalid && clubForm.get('message')?.touched">
            {{getErrorMessage('message')}}
          </mat-error>
        </mat-form-field>
      </div>
  
  
      <button mat-raised-button color="primary" type="submit">Submit</button>
    <!-- </div></div> -->
    </form>
  
  
  <!-- <div style="display: flex;justify-content: space-around;">
    <div style="border: 5px;border-style: groove;width:30%;text-align: center;">
      <div appearance="fill" class="appearance">
        <mat-label>שם מלא</mat-label>
        <input type="text" formControlName="text" name="text">
      </div>
      <div appearance="fill" class="appearance">
        <mat-label>פלאפון </mat-label>
        <input type="text" formControlName="number" name="number">
      </div>
      <div appearance="fill" class="appearance">
        <mat-label>תמונה</mat-label>
        <input type="image" formControlName="image" name="image">
      </div>
      <div appearance="fill" class="appearance">
        <mat-label>תוכן ההודעה</mat-label>
        <textarea class="details-input" style="height: 150px;" matInput></textarea>
        <div class="example-button-row">
          <button mat-button>שלח</button>
        </div>
      </div>
    </div>
  </div> -->
</div>