<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>מלא את שמך</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>שם פרטי</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="First name" required>
      </mat-form-field>&nbsp;
      <mat-form-field appearance="fill">
        <mat-label>שם משפחה</mat-label>
        <input matInput formControlName="firstCtr2" placeholder="Last name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable" *ngIf="isdelivary">  
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>מלא כתובת למשלוח</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>עיר</mat-label>
            <input  matInput formControlName="secondCtrl" placeholder="Jerusalem"
              required>
          </mat-form-field>&nbsp;
          <mat-form-field appearance="fill">
            <mat-label>רחוב</mat-label>
            <input [disabled]="selectedOption == '1'" matInput formControlName="secondCtrl1" placeholder="Jaffo"
              required >
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>מספר בנין</mat-label>
            <input [disabled]="selectedOption == '1'" matInput formControlName="secondCtrl2" placeholder="14" required>
            <!-- <div *ngIf="numberControl.hasError('required')">Number is required</div> -->
            <!-- <mat-error *ngIf="secondFormGroup.secondCtrl2.hasError('pattern')">Invalid number format</mat-error> -->
          </mat-form-field>&nbsp;
          <mat-form-field appearance="fill">
            <mat-label>מספר דירה</mat-label>
            <input [disabled]="selectedOption == '1'" matInput formControlName="secondCtrl3" placeholder="6" required>
          </mat-form-field>
        </form>



    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
   
  </mat-step>
  <mat-step [stepControl]="ThirdFormGroup" [editable]="isEditable">
    <form [formGroup]="ThirdFormGroup">
      <ng-template matStepLabel>הכנס מספר טלפון</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>מספר טלפון</mat-label>
        <input matInput formControlName="thirdCtrl" placeholder="Phone number" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>מעבר לתשלום</ng-template>
    <p>מעבר לתשלום מאובטח</p>
    <div>
      <button mat-button matStepperNext (click)="payment()">Next</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>

<router-outlet></router-outlet>