.img{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 30px;
    padding-bottom: 0px;
}
mat-grid-tile {
    //background: #F5F5F5;
    width: 100px;
    padding-bottom: 20px;
   // height: 100px;
    padding-top: 10px;
  }
img{
   width: 100%;
}