
<div><img src="../../../assets/Images/HomeGif.gif" class="img"></div>


<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile><img src="../../../assets/Images/cupCakes.JPEG"/></mat-grid-tile>
    <mat-grid-tile>
      <div>
        <p>באלך לפנק ?!</p>
        באלך לפנק את עצמך ? <br>
        או אולי מישהו קרוב עם קינוח מתוק .<br>
        או אולי עוגה טעימה<br><br>
        <button>קנה עכשיו</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/Images/BackingCake.JPG"/></mat-grid-tile>
    <mat-grid-tile>
      <div>
      <p>HandMake With LOve</p>
      כשלוקחים חומרי גלם מעולים . <br>
      מוסיפים להם אנשים מסורים <br>
      ומוספים מעל שירות קשוב מתקבל המכון <br>
      לחוויה ושמה "Perfect"<br><br>
      <button>קנה עכשיו</button>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
      <div>
        <p>קנית משהו ? </p>
      באלך לפרגן <br>
       אנו נשמח מאוד לשמוע את חוות <br>
       דעתך על הקניה ב - "Perfect" <br><br>
       <button>צור קשר</button>
      </div>
      
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../../../assets/Images/contactUsHome.jfif"/>
    </mat-grid-tile>
    <mat-grid-tile>
      3
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../../../assets/Images/SignInHome.jfif"/>
    </mat-grid-tile>
  </mat-grid-list>

  <app-footer></app-footer>

 
  