<br>

<form *ngIf="showCredit">
  <img src="../../../assets/Images/secure credit.jpg" />

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>מספר כרטיס</mat-label>
    <input matInput placeholder="card number">
    <mat-icon matSuffix>credit_card</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>תוקף חודש</mat-label>
    <mat-select required>
      <mat-option *ngFor="let m of month" [value]="m">
        {{m}}
      </mat-option>
    </mat-select>
    <!-- <mat-error *ngIf="monthControl.hasError('required')">Please choose a month</mat-error>
  <mat-hint>{{monthControl.value?.sound}}</mat-hint>  -->
  </mat-form-field>
  &nbsp;
  <mat-form-field appearance="fill">
    <mat-label>תוקף שנה</mat-label>
    <mat-select required>
      <mat-option *ngFor="let y of years" [value]="y">
        {{y}}
      </mat-option>
    </mat-select>
    <!-- <mat-error *ngIf="monthControl.hasError('required')">Please choose a month</mat-error>
  <mat-hint>{{monthControl.value?.sound}}</mat-hint>  -->
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label> ספרות בגב הכרטיס 3</mat-label>
    <input matInput placeholder="3 digits on the back of the card ">
  </mat-form-field>
  &nbsp;
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>ת.ז</mat-label>
    <input matInput placeholder="Id ">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label> מספר תשלומים</mat-label>
    <mat-select required>
      <mat-option [value]="1">
        1
      </mat-option>
      <mat-option [value]="2">
        2
      </mat-option>
      <mat-option [value]="3">
        3
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-raised-button style="background-color:#c19a6d ; color: white;" (click)="ConfirmOrder()"  [disabled]="isDisable" >אישור</button>

</form>





<div *ngIf="confirmOrder" class="div">
    <div>
      <h2>אישור הזמנה מספר : {{Order.id}} </h2>
       <p class="p">  תודה לך . הזמנתך  
        התקבלה בהצלחה. </p>
    
        <h2>פרטי הזמנה : </h2>
         <p class="p"> תאריך ביצוע ההזמנה : {{date | date:'mediumDate'}}</p>
        <!-- <p class="p">תאריך משלוח \ איסוף נבחר : {{newOrder.pickupDate | date:'mediumDate'}}</p>  -->
        <mat-list>
          <mat-list-item class="header">
             <p>קוד מוצר</p> <p>שם מוצר</p>
             <p>גודל</p> <p>כמות</p> <p>מחיר</p> 
            </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let p of product"> 
            <p> {{p.productId}}</p> <p>{{p.product.name}} </p> <p>{{p.idSizeNavigation.size}}</p>
             <p>{{p.quantity}}</p><p>{{p.idSizeNavigation.price | currency : 'ILS'}}</p> 
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let pp of pp">
            <p> {{pp.id}}</p> <p>מוצר בעיצוב אישי </p> <p>{{pp.shape?.shape1}} ,  {{pp.shape?.size}}</p>
            <p>{{pp.quantity}}</p><p>{{pp.price | currency : 'ILS'}}</p> 
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>סה"כ כולל משלוח : {{sumPrice | currency : 'ILS'}} </p> 
            <p> מחיר משלוח : {{deliveryP | currency : 'ILS'}}</p>
          </mat-list-item>
        </mat-list>
        
    <p class="p">מעבר להמשך קניות : <a href="/products">המוצרים שלנו</a></p>

    </div>











</div>