img{
    width: 400px;
}
div{
    margin-top: 8%;
    display: flex;
	align-items: center;
	justify-content: center;
}
mat-card-title{
    font-size: 18px;
    text-align: center;
   
}
mat-card{
  background-color: #eee;
}
.link-image:hover {
    cursor: pointer;
    border: 2px solid white;
    opacity: 0.7;
}