<div *ngIf="blogsId == 1">

<div class="secondText"> 
            <h1 style="text-align: center;">אופן ההכנה</h1>
            -מניחים בקערה קוביות שוקולד מריר וחצי מיכל שמנת מתוקה וממיסים במיקרוגל. מערבבים עד לקבלת תערובת חלקה.
            <br><br>
            -מוסיפים לקערה את פירורי הביסקוויטים ומערבבים היטב עד שכל הפירורים מכוסים בצורה אחידה בתערובת השוקולד.
            <br><br>
            -יוצקים את התערובת לתבנית אינגליש קייק ומהדקים היטב לתחתית. מכניסים למקפיא עד להכנת הציפוי.
            <br><br>
            –לציפוי: מניחים בקערה קוביות שוקולד לבן ו3 כפות שמנת המתוקה וממיסים במיקרוגל. מערבבים עד לקבלת תערובת חלקה.
            <br><br>
            -יוצקים על העוגה בצורה אחידה, מכסים ומכניסים למקפיא ל-4 שעות לפחות.
            <br><br>
            -מוציאים מהמקפיא, מחלצים מהתבנית (ניתן לחתוך את התבנית אם היא חד”פ), מניחים על משטח חיתוך ובעזרת סכין ארוכה חותכים לרוחב ואז לאורך לקוביות בגודל כ 2.5 ס”מ.
            <br><br>
            *שומרים בקופסה סגורה במקפיא.
</div>

<div  class="text">
    <img class="link-image" src="../../../assets/Images/Blogs/blogs1.jpg">   
      <h1>  זמן הכנה  10 דקות | מס' מנות 18 - 20 מנות |
   סוג חלבי</h1>
   <h1>רכיבים</h1> 
   
  תבנית אינגליש קייק חד פעמית
  <br> <br>
   200 גרם ביסקוויטים מסוג “פתי בר” מפוררים דק (*לרגישים לגלוטן ניתן להשתמש בביסקוויטים ללא גלוטן)
  <br>  <br>
  65 גרם שוקולד מריר
 <br> <br>
 חצי מיכל שמנת מתוקה
 <br> <br>
 לציפוי : 100 גרם שוקולד לבן + 3 כפות שמנת מתוקה    
</div>
</div>
   
    <div *ngIf="blogsId == 2">
  <div class="secondText"> 
            <h1 style="text-align: center;">אופן ההכנה</h1>
            -מקציפים בקערה שמנת מתוקה עם סוכר במשך כחצי דקה (טיפ להקצפה מוצלחת: מומלץ להכניס את השמנת למקפיא 10 דקות לפני ההקצפה). מוסיפים חלב ואינסטנט פודינג וניל וממשיכים להקציף עד לקבלת קצפת יציבה. מוסיפים את הגבינה ומערבבים בעזרת כף בתנועות קיפול.
            <br><br>
            -מערבבים בקערית נפרדת 3 כפות ריבת חלב עם 2 כפות חלב עד לתערובת נוזלית.
            <br><br>
            –הרכבת המנה:
            <br><br>
            מניחים בתחתית כל כוס כמות של כף מפירורי הביסקוויטים.
מעל- מזליפים מתערובת קרם הגבינה (ניתן להשתמש בשקית זילוף או בשקית אוכל רגילה ולגזור את הפינה).
מעל- שמים כפית מתערובת ריבת החלב.
מעל – מזליפים מתערובת קרם הגבינה.
מעל – שמים כפית מתערובת ריבת החלב.
            <br><br>
            -מכסים או עוטפים בניילון נצמד ומכניסים למקרר כ-3 שעות לפחות לפני ההגשה.            
</div>
<div class="text">
 <img class="link-image" src="../../../assets/Images/Blogs/blogs2.jpg"> 

 <h1>  זמן הכנה  10 דקות | מס' מנות -  5-6 כוסות |
    סוג חלבי</h1>
    <h1>רכיבים</h1> 
    5-6 ביסקוויטים מסוג “פתי בר” מפוררים
    <br> <br>
    מיכל שמנת מתוקה (250 מ”ל)
    <br> <br>
    כף גדושה סוכר
    <br> <br>
    רבע כוס (60 מ”ל) חלב קר
    <br> <br>
    3 כפות אבקת אינסטנט פודינג וניל
    <br> <br>
    3 כפות גבינה לבנה
    <br> <br>
    3 כפות ריבת חלב + 2 כפות חלב
</div>
    </div>
    <div *ngIf="blogsId == 3">
        <div class="secondText"> 
            <h1 style="text-align: center;">אופן ההכנה</h1>
            <h1>הכנת ג’לי תותים:</h1>
            מכינים את הג’לי לפי הוראות ההכנה (שופכים תוכן שקית ג’לי אחת לקערה, מוזגים לתוכה 2 כוסות מים רותחים ומערבבים עד לתערובת חלקה). מניחים לתערובת כמה דקות להתקרר.
            <br><br>
            ממלאים כל כוס בתותים חתוכים (כשליש מגובה הכוס), יוצקים מעל את תערובת הג’לי (כשהיא חמימה אבל לא חמה מאוד) ומכניסים למקרר עד שהתערובת מתייצבת והופכת לג’לי.
            <h1>הכנת קרם גבינה:</h1>
            -מקציפים את השמנת המתוקה במשך כ20 שניות. מוסיפים סוכר, חלב, פודינג וניל וממשיכים להקציף עד לקבלת קצפת יציבה. מוסיפים גבינה לבנה וגרידת לימון ומערבבים בעדינות בתנועות קיפול (שומרים את התערובת במקרר עד שהג’לי מתייצב).
            <br><br>
            -יוצקים את קרם הגבינה מעל תערובת הג’לי.
            <br><br>
            -עוטפים בניילון נצמד ושומרים במקרר.
            <br><br>
            *לגרסת פרווה– במקום קרם גבינה ניתן להכין קרם וניל – להקציף מיכל קצפת צמחית (250 מ”ל) עם 3 כפות מלאות אינסטנט פודינג וניל ורבע כוס חלב סויה/חלב קוקוס.
</div>
        <div class="text">
            <img class="link-image" src="../../../assets/Images/Blogs/blogs3.jpg"> 
            <h1>  זמן הכנה  10 דקות | מס' מנות 6 כוסות גדולות|
                סוג חלבי</h1>
                <h1>רכיבים</h1> 
                2 חבילות אבקה להכנת ג’לי בטעם תותים (סה”כ 170 גרם)
                <br><br>
                2 כוסות תותים חתוכים גס (כ-180 גרם)
                <h1>לקרם הגבינה:</h1>
                מיכל שמנת מתוקה (250 מ”ל)
                <br><br>
                רבע כוס חלב קר
                <br><br>
                2 כפות גדושות סוכר
                <br><br>
                3 כפות מלאות אבקת אינסטנט פודינג וניל
                <br><br>
                חצי כפית גרידת לימון (לא חובה)
                <br><br>
                3 כפות גדושות גבינה לבנה
        </div>
        
    </div>