<h1>עגלת קניות</h1>

 <h2>מוצרים</h2>
<mat-table [dataSource]="cart" class="mat-elevation-z8">

    <ng-container matColumnDef="מחק">
        <mat-header-cell *matHeaderCellDef> מחק </mat-header-cell>
        <mat-cell *matCellDef="let element">  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="כמות">
        <mat-header-cell *matHeaderCellDef> כמות </mat-header-cell>
        <mat-cell *matCellDef="let element">  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="מחיר">
        <mat-header-cell *matHeaderCellDef> מחיר </mat-header-cell>
        <mat-cell *matCellDef="let element"> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="שם מוצר">
        <mat-header-cell *matHeaderCellDef> שם מוצר </mat-header-cell>
        <mat-cell *matCellDef="let element"> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="תמונת מוצר">
        <mat-header-cell *matHeaderCellDef> תמונת מוצר </mat-header-cell>
        <mat-cell *matCellDef="let element"> </mat-cell>
      </ng-container> 

    <mat-header-row *matHeaderRowDef="header"></mat-header-row>
    <mat-row *matRowDef="let row; columns: header;"></mat-row>
  </mat-table>