
  table {
    width: 100%;
  }
  img{
    width: 90px;
  }
  h1{
    text-align: center;
    color:  #c19a6d;
    border-bottom: 5px double;
  }
  h2{
    background-color:  #c19a6d;
    color: white;
    // padding-left: 65%;
    padding-right: 30px;
    font-size: 20px;  
  }
  .empty{
    text-align: center;
    font-size: 28px;
  }
  .button{
    background-color: #c19a6d;
    font-size: 24px;
    color: white;
    width: 200px;
    margin-right: 85%;
    margin-bottom: 30px;
  }
  .shippingIcon{
    font-size: 50px;
  }
  .icon{
    font-size: 50px;
  }
  .option{
    margin-left: 95%;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .margin{
    margin-left: 55%;
  }
  .margin2{
    margin-left:80% ;
  }
  .Icon{
   
    font-size : 50px;
  }
  .pQuantity{
    font-size: 16px;
    //padding-right: 20px;
  }
  mat-form-field{
    font-size: 13px;
  }