<h1>עגלת קניות</h1>
<div >
  <div *ngIf="full">
 <h2 >מוצרים</h2>
<mat-table [dataSource]="cart" class="mat-elevation-z8">
    <ng-container matColumnDef="מחק">
        <mat-header-cell *matHeaderCellDef> מחק </mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-icon (click)="deleteItem(element )">delete</mat-icon> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="כמות">
        <mat-header-cell *matHeaderCellDef> כמות </mat-header-cell>
        <mat-cell *matCellDef="let element" ><p class="pQuantity"><button (click)="minusP(element)">-</button> &nbsp; {{element.quantity}} &nbsp;<button (click)="plusP(element)">+</button></p></mat-cell>
      </ng-container>
      <ng-container matColumnDef="גודל">
        <mat-header-cell *matHeaderCellDef> גודל </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.idSizeNavigation.size }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="מחיר">
        <mat-header-cell *matHeaderCellDef> מחיר </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.idSizeNavigation.price | currency : 'ILS'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="שם מוצר">
        <mat-header-cell *matHeaderCellDef> שם מוצר </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.product.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="תמונת מוצר">
        <mat-header-cell *matHeaderCellDef> תמונת מוצר </mat-header-cell>
        <mat-cell *matCellDef="let element"><img src={{element.product.img}}> </mat-cell>
      </ng-container> 

    <mat-header-row *matHeaderRowDef="header"></mat-header-row>
    <mat-row *matRowDef="let row; columns: header;"></mat-row>
  </mat-table>
<br>
</div>
<div *ngIf="fullpp">
<h2 >מוצרים בעיצוב אישי</h2>
<mat-table [dataSource]="personalProductUser" class="mat-elevation-z8">

  <ng-container matColumnDef="מחק">
    <mat-header-cell *matHeaderCellDef> מחק </mat-header-cell>
    <mat-cell *matCellDef="let element"> <mat-icon (click)="deletePersonalP(element)" >delete</mat-icon> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="כמות">
    <mat-header-cell *matHeaderCellDef> כמות </mat-header-cell>
    <mat-cell *matCellDef="let element"> <p class="pQuantity"><button (click)="minusPp(element)">-</button> &nbsp; {{element.quantity}} &nbsp;<button (click)="plusPp(element)">+</button></p>
       </mat-cell>
  </ng-container>

  <ng-container matColumnDef="טקסט">
    <mat-header-cell *matHeaderCellDef> טקסט </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.text}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="גודל">
    <mat-header-cell *matHeaderCellDef> גודל </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.shape.shape1}}
      , {{element.shape.size}}
      </mat-cell> 
  </ng-container>

  <ng-container matColumnDef="מחיר">
    <mat-header-cell *matHeaderCellDef> מחיר </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.price | currency : "ILS"}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="תאור">
    <mat-header-cell *matHeaderCellDef> תאור </mat-header-cell>
    <mat-cell *matCellDef="let element">מס' שכבות: {{element.layers.number}} ,  צבע הקרם : {{element.cream.details}}
      <br>
      צבע 1 :
      {{element.colorId1Navigation.name}}  ,
      צבע 2 : 
      {{element.colorId2Navigation.name}} 
     
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="תמונה להמחשה">
    <mat-header-cell *matHeaderCellDef> תמונה להמחשה </mat-header-cell>
    <mat-cell *matCellDef="let element">
       <img src="../../../assets/Images/עיצוב אישי.jpg">  
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="headerPP"></mat-header-row>
  <mat-row *matRowDef="let row; columns: headerPP;"></mat-row>
</mat-table>
<br>
</div>
<div *ngIf="show">
  <h2>אופן אספקה</h2>
<div class="container"> 
  <div>
    <mat-icon class="shippingIcon"> local_shipping</mat-icon>   
  </div>
  <div>
        <mat-form-field appearance="fill" class="option">
          <mat-label>בחר אופן אספקה</mat-label>
          <mat-select [(ngModel)]="defaultValue">
            <mat-option value="option1" (click)="Delivery()">משלוח עד הבית - 50 שח</mat-option>
            <mat-option  value="option2" (click)="PickUp()">איסוף עצמי - 0 שח </mat-option>
          </mat-select>
        </mat-form-field>   
    </div>
</div>
<mat-divider *ngIf="underline"></mat-divider>
<br>
<div>

  <mat-form-field appearance="fill" >
    <mat-label *ngIf="pickUp">בחר תאריך איסוף </mat-label>
    <mat-label *ngIf="delivery">בחר תאריך עדיפות המשלוח </mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="cacheDate($event.value)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> 
</div>
<mat-divider></mat-divider>
<div class="container">
  <div>
    <mat-icon class="icon">priority_high</mat-icon>
  </div>
  <div> 
    הזמנות מהאתר מינימום 24 שעות ממועד ההספקה 
  </div>
</div>
<mat-divider></mat-divider>
<h2>סיכום עלויות</h2>
<div class="container">
  <div>
    <mat-icon class="Icon">shopping_basket</mat-icon>
  </div>
  <div> 
    עלות ההזמנה  : {{price | currency : 'ILS'}}  
  </div>
</div>
<mat-divider></mat-divider>
<div class="container">
  <div>
    <mat-icon class="Icon"> local_shipping</mat-icon> 
  </div>
  <div> 
     עלות משלוח : {{deliveryP | currency : 'ILS'}}   
  </div>
</div>
<mat-divider></mat-divider>
<div class="container">
  <div>
    <mat-icon class="Icon">payment</mat-icon>
  </div>
  <div> 
     סה"כ כולל משלוח  :  {{sumP | currency : 'ILS'}} 
  </div>
</div>

  <button mat-flat-button class="button" (click)="next()" > הבא</button> 

</div>
</div>

  <div *ngIf="empty" class="empty">
    <mat-icon>mood_bad</mat-icon>  הסל שלך ריק 
  </div>