<p>regulations works!</p>

<br><br><br><br><br>
<div >
    <h1 style="font-size: xx-large;">
        תקנון
    </h1>
    <p>הניסוח הינו בלשון זכר אך ורק מטעמי נוחות. כל התנאים מחייבים את הגולשים באתר ללא הבדלי מגדר.</p>
    <p >השימוש באתר כפוף לתנאים המפורטים במדיניות הפרטיות. כניסה לאתר ושימוש בו מהווים הסכמה לכל תנאי, ללא שום סייג. הגלישה באתר מהווה אישור מצידך כי קראת את מדיניות הפרטיות, הבנת את תנאי השימוש וקיבלת אותם במלואם, ומהוה כחתימה בשם מלא על הסכמה מפורשת לכל התנאים.</p>
    <p >גולשים אשר לא מעוניינים להתחייב להתנהל על-פי מדיניות הפרטיות נדרשים שלא להיכנס אל האתר.</p>
    <p style="text-align: justify;">&nbsp;</p>

    <h2 >תנאים כלליים</h2>
    <p >הגלישה באתר והשימוש בו הינם על אחריות המשתמש בלבד. לגולש, ולכל אדם מטעמו, לא תהיה כל דרישה או טענה כלפי בעלי האתר, הכותבים של התכנים בו וכל מי שמפרסם תוכן כזה או אחר באתר.</p>

    <p >כל אדם שנכנס לאתר ומשתמש בו מודע לכך שייתכנו בו טעויות, וכי התוכן לא בהכרח מתאים לצרכים הייחודיים שלו. בעלי האתר משקיעים מאמצים כדי שיהיה בעל ערך ואיכותי, אולם הם אינם נושאים בכל אחריות שהיא, מפורשת או משתמעת, לטיב התכנים, לנכונותם, להיותם מדויקים, חוקיים ו/או להתאמתם לציפיות של כל גולש.</p>
    <p >בנוסף לאמור לעיל ומבלי לגרוע ממנו, בעלי האתר לא מתחייבים לכך שהאתר נקי מווירוסים או כל רכיב מזיק אחר. בעלי האתר אינם אחראים להפרת זכויות צד שלישי כלשהו, ולא מתחייבים לחסינות ביחס לגישה לא מורשית או להפרעות כלשהן לשימוש התקין בו.</p>
    <p >כניסה לאתר מהווה הצהרה של הגולש כי הובא לידיעתו כי בעלי האתר אינם יכולים לוודא כי לא תתבצע חדירה למחשבים וכי המידע שנאגר עלול להיחשף. לפיכך, למשתמשים באתר לא תהיינה טענות ו/או תביעות כלפי בעלי האתר בגין נזק, ישיר או עקיף, כתוצאה מחשיפה של המידע האמור.</p>
    <p >&nbsp;</p>
    <h2>איסוף מידע אודות הגולשים ושימוש בו</h2>
    <p >גולש שבוחר לספק פרטים אודותיו נותן בכך את הסכמתו כי הפרטים ייכללו במאגר המידע שמנהלים בעלי האתר. מאגר זה מנוהל על-פי כל התקנות של חוק הגנת הפרטיות. מתן הפרטים מהווה גם הסכמה לאיסוף המידע ושימוש בו לשם הצעת שירותים, מוצרים ופרסומים אחרים.</p>
   
    <p>במהלך השהות באתר ייתכן איסוף נתונים גם לגבי אופן השימוש באתר, רכישת מוצרים ושירותים, רישום לכל השירותים המיוחדים שמחייבים רישום בנפרד, אמצעי תשלום בהם נעשה שימוש ועוד. עצם הגלישה באתר מהווה הסכמה לאיסוף כל המידע הנ”ל וכל מידע אחר, בכפוף להתנהלות עפ”י הוראות כל דין.</p>
<p>
לבעלי האתר הזכות להשתמש במידע הנ”ל לצורך תפעול האתר, פיתוחו ושיפורו, וכן על-מנת להציע לגולש שירותים, מידע, פרסומות והצעות אשר מותאמים אישית להעדפות שלו ולצרכים שלו. בעלי האתר רשאים להעביר מידע כללי ו/או פרטני, לרבות נתונים סטטיסטיים, לצדדים שלישיים כולל מפרסמים, באופן שאינו מזהה את המשתמשים באתר אישית.</p>
<p>
בעלי האתר מתחייבים להתנהל ביחס למידע אשר נאסף אודות כל הגולשים בהתאם להוראות כל דין. יצוין כי בהתאם לחוק הגנת הפרטיות 1981, ישנה לגולש הזכות לעיין במידע אודותיו אשר נאסף על-ידי בעלי האתר ונשמר במאגר מידע כפי שהוא מוגדר בחוק.</p>

<h2>עוגיות</h2>
    לצורך תפעול האתר, לרבות בדיקת זהות גולשים ואיסוף מידע לגביהם ובאשר לאופן השימוש באתר, האתר משתמש ו/או ישתמש בעתיד ב”עוגיות” – קבצי טקסט אשר מאוחסנים בכוננים הקשיחים של הגולשים, במכשירים שבהם הם משתמשים, וזאת באמצעות הדפדפן. עוגיות לא כוללות מידע אשר מזהה את הגולש אישית. עוגיות עשויות לכלול מידע אודות הפעילות באתר.
    
    כל גולש רשאי לשנות את ההגדרות של הדפדפן שבו הוא משתמש כך שלא תתבצע שמירה של קבצי הטקסט הנ”ל. יחד עם זאת מניעת השימוש בעוגיות עשויה לחייב את הגולש להזין מחדש פרטים אישיים בכל כניסה לאתר ו/או בביצוע פעולות שונות בו.
    
     
    
    <h2>הודעות ודיוור</h2>
    לגולשים באתר ישנה ו/או תהיה האפשרות לאשר קבלת הודעות באמצעות דואר אלקטרוני ו/או הודעות SMS ו/או אמצעים אחרים. בנוסף, כל לקוח אשר ימסור פרטיו למוקד שירות לקוחות הקשור לאתר ו/או לנציגי החברה המפעילה את האתר, ו/או ימלא את פרטיו בהודעה, יהיה זכאי לקבל דיוור ועדכונים.
    
    יצוין כי לקוח שיבקש להסיר את שמו מכל רשימת דיוור שהיא יוכל לעשות זאת באמצעות הודעה בכתב – לכתובת הדוא”ל או באמצעות מענה להודעות שיקבל בעתיד.
    
     
    
    <h2>פרסומות</h2>
    בעלי האתר רשאים לאפשר לצד שלישי לתפעל מערך פרסומות דרך האתר. כמו כן רשאים בעלי האתר להפעיל בעצמם מערך פרסומות. חלק מכך, עשויים הגולשים לצפות בפרסומות, הצעות למתן שירות, הצעות לתכנים ומידע נוסף של גורמים שלישיים, לרבות מודעות על בסיס מידע שנאסף אודות הגולש, באמצעות עוגיות או בכל דרך אחרת. גולש שאינו מעוניין בכך רשאי לפעול בכדי למנוע איסוף מידע ע”י צדדים שלישיים לרבות המפרסמים.
    
     
    
    <h2>אחריות</h2>
    השימוש באתר הינו על אחריות הגולש בלבד. בעלי האתר, וכל צד אחר המעורב בבנייתו ותפעולו, אינם אחראים לכל נזק שייגרם לגולשים, לרבות נזקים ישירים, עקיפים, עונשים, אגביים ותוצאתיים, נזקים שמקורם באובדן רווחים, באובדן מידע, בהפרעה לפעילות העסקית וכל נזק אחר, בין אם כזה שנגרם עקב שימוש באתר ובין אם כזה שנגרם כתוצאה מהגבלה כלשהי על הגישה לאתר ו/או על השימוש בו.
    
    היעדר האחריות של בעלי האתר וכל מי שמעורב בבניית האתר ותפעולו חל גם על נזקים כתוצאה מווירוסים, סוסים טרויאניים, תולעים או כל קוד אשר עלול לפגוע בציוד המחשוב של הגולש.
    
    מבלי לפגוע באמור לעיל או לגרוע ממנו, יצוין כי בעלי האתר והצדדים המופקדים על הפקתו והספקתו, אינם נושאים באחריות כלשהי לגבי התכנים המופיעים בו, לרבות כתבות, מאמרים, נתונים, תמונות, סקירות, ידיעות ו/או כל מידע בכל פורמט. היעדר האחריות תקף בהווה ובעתיד, לרבות לגבי מהימנות התכנים, הדיוק, האמינות והשפעתם על כל משתמש באתר ו/או צד שלישי אשר נחשף אליהם.
    
    יודגש כי כל תוכן באתר מובא as-is ובעלי האתר ומפעיליו אינם אחראים, לא במפורש ולא מכללא, על איכותו, התאמתו למטרות הגלישה או כל נזק אחר שעלול להיגרם בגינו.
    
     
    
    <h2>שמירה על הסודיות</h2>
    יודגש כי כל חומר אשר מועבר על-ידי גולש אל בעלי האתר – באמצעות פרסום באתר, הודעת דואר אלקטרוני או כל דרך אחרת – הינו בבחינת מידע לא סודי ולא קנייני. התנאי הנ”ל תקף לגבי שאלות, הערות, נתונים, הצעות וכל מידע אחר. לבעלי האתר ולכל צד הקשור אליו הזכות להעתיק, לפרסם, לשדר ולבצע כל פעולה אחרת בחומרים אלה. בעלי האתר חופשיים להשתמש בידע, רעיונות, טכניקות ומושגים שהתקבלו מהגולשים מכל סיבה שהיא ולכל מטרה שהיא.
    
     
    
    <h2> עדכונים במדיניות הפרטיות</h2>
    בעלי האתר רשאים לשנות בכל נקודת זמן שהיא את תנאי השימוש בו ואת מדיניות הפרטיות. לגבי שינויים מהותיים, יפורסמו הודעות בדף הבית.
    
     יודגש כי בעלי האתר אינם מחויבים ליידע כל גולש בנפרד לגבי שינויים ועדכונים של מדיניות הפרטיות.
    <p style="text-align: justify;">&nbsp;</p>

</div>
<p style="text-align: justify;">&nbsp;</p>

   
    
